ring-test
*.optrpt

# Editor Configuration
.vscode/
.clang-format

# Output files
*.pbs.[eo]*
ring_test_*.json
scatter_ring_test_*.json

# Except the most recent output file
!ring_test_latest.json
!scatter_ring_test_latest.json

# Report tex files
*.aux
*.log
*.synctex.gz
